/* ******************************************* HOME PAGE **************************************************/
.home-page{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
}
#bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


.heading-container{
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
}

.hc-1 img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}
.hc-2{
    width: 40%;
    height: fit-content;
    background-color: rgba(13, 27, 39, 0.586);
    padding: 10px;
    border-radius: 20px;
    color: white;
}
.hc-1 h1{
    color: rgb(27, 87, 139);
    font-size: 30px;
}


.hc-2 p{
    color: rgb(255, 255, 255);
    font-size: 30px;
    background-color: rgba(13, 27, 39, 0.199);
    padding: 10px;
    border-radius: 10px;
    margin: 0;
}

.hc-2 h1{
    background-color: rgba(13, 27, 39, 0.199);
    padding: 10px;
    border-radius: 10px;
    margin: 0;
    margin-bottom: 10px;
}

.interests{
    background-color: rgba(13, 27, 39, 0.586);
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.interests h1{
    background-color: rgba(13, 27, 39, 0.199);
    margin: 0;
    padding: 10px;
    border-radius: 10px;
}

.interests ul{
    list-style-position: inside;
    background-color: rgba(13, 27, 39, 0.199);
    margin: 0;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

.contact-icons{
    color: black;
    background-color: rgba(13, 27, 39, 0.586);
    
}

.section-1{
    display: flex;
    flex-direction: row;
}


/* ******************************************* END HOME PAGE **************************************************/