.home-page{
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: center;
}
#bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.heading-container{
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
}

.hc-1 img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}
.hc-2{
    width: 35%;
    background-color: rgba(13, 27, 39, 0.586);
    padding: 20px;
    border-radius: 20px;
    color: white;
}
.hc-1 h1{
    color: rgb(27, 87, 139);
    font-size: 30px;
}
/* .hc-2 h1{
    color: rgb(27, 87, 139);
    font-size: 40px;
} */

.hc-2 p{
    color: rgb(255, 255, 255);
    font-size: 30px;
}